<div class="form-card-center">
  <form class="row fondo-login shadow">
  <legend class="my-5 text-white text-center">Crear cuenta</legend>
    <fieldset class="col-lg-6 col-md-6 col-sm-12">
      <section class="text-white height-form-signup">
        <div class="mb-3">
          <label for="usuario" class="form-label">Nombre completo</label>
          <input type="email" class="form-control" placeholder="Ejemplo: Emilio Hernández" id="usuario" aria-describedby="usuarioHelp">
          <div id="usuarioHelp" class="form-text text-white">Ingrese su nombre de completo.</div>
        </div>
        <div class="mb-3">
          <label for="clave" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="clave">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
        </div>
      </section>
    </fieldset>
    <fieldset class="col-lg-6 col-md-6 col-sm-12 px-0">
      <section class="text-white height-form-signup">
        <div class="mb-3">
          <label for="usuario" class="form-label">Nombre de usuario</label>
          <input type="email" class="form-control" placeholder="Ejemplo: William24" id="usuario" aria-describedby="usuarioHelp">
          <div id="usuarioHelp" class="form-text text-white">Ingrese su nombre de usuario.</div>
        </div>
        <div class="mb-3">
          <label for="clave" class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" id="clave">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
        </div>
      </section>
    </fieldset>
    <div class="w-btn">
      <button type="submit" class="btn btn-dark w-100 mb-5">Registrar</button>
    </div>
  </form>
</div>
