.w-btn{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.height-form-signup{
  height: 16rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.is-invalid {
  border-width: 4px;
  border-color: #ff6666;
}

.invalid-feedback {
  color: #ff6666;
}
