<div>
  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-circle-plus"></i>
        Nueva Usuario
      </button>
    </div>

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource!" matSort>

      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex">
            <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editarUsuario(element.usuario)">
              <i class="fa-solid fa-pencil"></i>
              Editar
            </button>
            <button type="button" class="btn btn-danger" (click)="eliminarUsuario(element.usuario)">
              <i class="fa-solid fa-trash"></i>
              Eliminar
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de medición</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarFormulario()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUser" (ngSubmit)="registrarUsuario()">
          <input type="hidden" id="usuarioId" formControlName="id">
          <input type="hidden" id="usuarioPk" formControlName="pk">

          <fieldset class="row">
            <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
              <label for="nombre" class="form-label">Nombre completo</label>
              <input formControlName="nombre" [class.is-invalid]="formUserControls.nombre.errors && formUserControls.nombre.touched" type="text" class="form-control" id="nombre">
              <div id="nombreHelp" class="invalid-feedback" *ngIf="formUserControls.nombre.errors && formUserControls.nombre.touched">
                <div *ngIf="formUserControls.nombre.errors.required">El nombre completo es requerido.</div>
                <div *ngIf="formUserControls.nombre.errors.pattern">El nombre completo es invalido.</div>
                <div *ngIf="formUserControls.nombre.errors.minLength">El nombre debe tener 50 caracteres como maximo.</div>
                <div *ngIf="formUserControls.nombre.errors.maxLength">El nombre debe tener 3 caracteres como minimo.</div>
              </div>
            </div>

            <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
              <label for="usuario" class="form-label">Nombre de usuario</label>
              <input formControlName="usuario" [class.is-invalid]="formUserControls.usuario.errors && formUserControls.usuario.touched" type="text" class="form-control" id="usuario">
              <div id="usuarioHelp" class="invalid-feedback" *ngIf="formUserControls.usuario.errors && formUserControls.usuario.touched">
                <div *ngIf="formUserControls.usuario.errors.required">El nombre de usuario es requerido.</div>
                <div *ngIf="formUserControls.usuario.errors.pattern">El nombre completo es invalido.</div>
                <div *ngIf="formUserControls.usuario.errors.minLength">El nombre debe tener 20 caracteres como maximo.</div>
                <div *ngIf="formUserControls.usuario.errors.maxLength">El nombre debe tener 5 caracteres como minimo.</div>
              </div>
            </div>

          </fieldset>
          <hr>
          <fieldset class="row">
            <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
              <label for="clave" class="form-label">Contraseña</label>
              <input formControlName="clave" [class.is-invalid]="formUserControls.clave.errors && formUserControls.clave.touched" type="password" class="form-control" id="clave">
              <div id="claveHelp" class="invalid-feedback" *ngIf="formUserControls.clave.errors && formUserControls.clave.touched">
                <div *ngIf="formUserControls.clave.errors.required">La contraseña es requerida.</div>
                <div *ngIf="formUserControls.clave.errors?.['minLength']">
                  {{ formUserControls.clave.errors?.['minLength'].message }}
                </div>
              </div>
            </div>

            <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
              <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
              <input formControlName="confirmarClave" [class.is-invalid]="formUserControls.confirmarClave.errors && formUserControls.confirmarClave.touched" type="password" class="form-control" id="confirmarClave">
              <div id="confirmarClaveHelp" class="invalid-feedback" *ngIf="formUserControls.confirmarClave.errors && formUserControls.confirmarClave.touched">
                <div *ngIf="formUserControls.confirmarClave.errors.required">La contraseña es requerida.</div>
                <div *ngIf="formUserControls.confirmarClave.errors?.['minLength']">
                  {{ formUserControls.confirmarClave.errors?.['minLength'].message }}
                </div>
              </div>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-success w-100">
            <i class="fa-solid fa-floppy-disk"></i>
            Guardar
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cerrar-modal-usuario" (click)="limpiarFormulario()">
          <i class="fa-solid fa-circle-xmark"></i>
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
